.cartRap{
    height: 190px;
    width: 300px;
    border: 2px solid violet;
}
.btn-tag{
background-color: aquamarine;
border: 0px;
padding: 10px;
border-radius: 4px;
color: brown;
font-weight: 800;
box-shadow: black 0px 1px 5px;
}
.items{
   float:left; 
   display: inline-block;
   width: 120px;
   padding: 20px;
   height: 70px;

}
.addCart img{
    width: 40px;
    position: absolute;
    right: 1%;
    top:1%;
}